:root {
    //Font
    --ff-sans: 'Kumbh Sans', sans-serif;
    
    //Typography
    --fw-light: 400;
    --fw-bold: 700;

    --fs-100: 0.625rem; //10px
    --fs-200: 0.688rem; //11px
    --fs-300: 0.75rem;  //12px
    --fs-400: 0.875rem; //14px
    --fs-500: 1rem;     //16px
    --fs-600: 1.125rem; //18px
    --fs-700: 1.25rem;  //20px
    --fs-800: 2rem;     //32px
    --fs-900: 3rem;     //48px

    //Colors
    --clr--primary-orange: hsl(26, 100%, 55%);
    --clr--primary-pale-orange: hsl(25, 100%, 94%);

    --clr--neutral-blue: hsl(220, 13%, 13%);
    --clr--neutral-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr--neutral-grayish-blue: hsl(220, 14%, 75%);
    --clr--neutral-light-grayish-blue: hsl(223, 64%, 98%);
    
    --clr--white: hsl(0, 0%, 100%);
    --clr--black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-500);
    color:var(--clr--neutral-dark-grayish-blue)    
}

main {
  .wrapper {
    position: relative;
    @media screen and (min-width: 48em) {
      margin-inline: auto;
      width: 1100px;
    }

    .cart-items {
      position: absolute;
      width: 100%;
      z-index: 900;
      top: 70px;
      left: 0;
      display: none;

      &.show {
        display: block;
      }

      .cart-container {
        background: var(--clr--white);
        border-radius: .75rem;
        margin: .5rem;

        .cart-header {
          border-bottom: 1px solid var(--clr--neutral-grayish-blue);
          color: var(--clr--black);
          padding: 1.5rem;
        }

        .items {
          display: grid;
          padding: 1.5rem;
          gap: 1.25rem;

          .item {
            display: flex;          
            align-items: center;

            .item-image {
              width: 50px;
              object-fit: cover;
              border-radius: .25rem;
              margin-inline-end: .75rem;
            }
            
            .item-name {
              margin-bottom: .5rem;
            }

            .item-prices {
              display: flex;
              gap: .25rem;

              .item-sum {
                font-weight: var(--fw-bold);
                color: var(--clr--black)
              }
            }

            .delete-item {
              margin-inline-start: 4rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .wrapper-narrow {
    @media screen and (min-width: 48em) {
      margin-inline: auto;
      width: 960px;
    }
  }

  .layout-grid {
    display: grid;
  }

  header {
    width: 100%;
    background: var(--clr--white);
    border-bottom: 1px solid var(--clr--neutral-grayish-blue);
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    padding-inline: 1rem;
    
    @media screen and (min-width: 48em) {
      padding-inline: 0;
    }

    .logo-nav {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5rem;

      @media screen and (min-width: 48em) {
        justify-content: space-between;
      }
      
      .menu-icon {
        @media screen and (min-width: 48em) {
          display: none;
        }
      }

      nav {
        position: fixed;
        width: 70vw;
        height: 100vh;
        background: var(--clr--white);
        top: 0;
        left: -70vw;
        transition: left 0.25s linear;
        padding: 2rem;
        z-index: 1000;

        &.show {
          left: 0;
        }

        .close-menu {
          margin-block-end: 4rem;
        }

        ul {
          display: grid;
          gap: 1.5rem;

          li {
            a {
              text-decoration: none;
              font-weight: var(--fw-bold);
              color: var(--clr--black);
            }
          }
        }

        @media screen and (min-width: 48em) {
          position: static;
          width: unset;
          height: unset;
          background: unset;
          padding: unset;
          
          .close-menu {
            display: none;
          }

          ul {
            display: flex;
            gap: 2.5rem;
  
            li {
              a {
                color: var(--clr--neutral-dark-grayish-blue);
                display: inline-block;
                padding-block: 2rem;
                transition: color 0.25s linear;
                
                &.active,
                &:hover {
                  border-bottom: .25rem solid var(--clr--primary-orange);
                  color: var(--clr--black);
                }
              }
            }
          }
        }
      }
    }
    
    .cart-avatar {
      width:40%;
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      align-items: center;

      .cart {
        position: relative;
        cursor: pointer;
        
        .cart-count {
          padding: 0 6px;
          color: var(--clr--primary-pale-orange);
          background: var(--clr--primary-orange);
          font-size: var(--fs-100);
          border-radius: 40%;
          position: absolute;
          top: -5px;
          right: -10px;
          display: none;
          
          &.show {
            display: block;
          }
        }
      }

      .avatar {
        img {
          width: 2.5rem;
          border: 3px solid transparent;
          border-radius: 50%;
          transition: border .25s linear;

          &:hover {
            border-color: var(--clr--primary-orange);  
          }

          @media screen and (min-width: 48em) {
            width: 3rem;
          }
        }
      }
    }    
  }

  .main-content {
    .product-images {
      gap: 1.5rem;
      position: relative;
      
      .slider {
        img.main-image {
          height: 20rem;
          width: 100%;
          object-fit: cover;
        }

        .next,
        .previous {
          position: absolute;
          background: var(--clr--white);
          padding: 0.5rem 0.75rem;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          height: 2rem;
        }

        .next {
          right: 1rem;          
        } 

        .previous {
          left: 1rem;
        }
      }

      .image-thumbnail {
        display: none;  
      }
    }
  }

  .product-details {
    padding: 1.25rem;

    h3 {
      color: var(--clr--primary-orange);
      text-transform: uppercase;
      font-size: var(--fs-400);
      letter-spacing: .1rem;
      margin-block-end: .5rem;
    }

    h1 {
      color: var(--clr--black);
      line-height: 1;
    }

    p {
      line-height: 1.5;
      padding-block: 1.5rem;
    }

    .price-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        font-size: var(--fs-800);
        font-weight: var(--fw-bold);
        color: var(--clr--black);

        .discount {
          background: var(--clr--primary-pale-orange);
          color: var(--clr--primary-orange);
          padding: .25rem .5rem;
          font-size: var(--fs-400);
          border-radius: .5rem;
          margin-inline-start: .5rem;
          position: relative;
          top: -5px;
        }
      }

      .price-no-discount {
        text-decoration: line-through;
        font-weight: var(--fw-bold);
        color: var(--clr--neutral-grayish-blue); 
      }
    }
  }

  .quantity {
    padding: 1.25rem;
    display: grid;
    gap: 1rem;

    .quantity-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .minus-btn,
      .plus-btn {
        --br: .75rem;

        width: 15%;
        text-align: center;
        line-height: 50px;
        height: 50px;
        background: var(--clr--neutral-light-grayish-blue);

        img {
          vertical-align: middle;
          margin-inline: auto;
        }
      }

      .minus-btn {
        border-top-left-radius: var(--br);
        border-bottom-left-radius: var(--br);
      }

      .plus-btn {
        border-top-right-radius: var(--br);
        border-bottom-right-radius: var(--br);
      }
      
      input {
        width: 70%;
        text-align: center;
        line-height: 50px;
        height: 50px;
        color: var(--clr--black);
        font-size: var(--fs-700);
        font-weight: var(--fw-bold);
        background: var(--clr--neutral-light-grayish-blue);
      }
    }

    .add-to-cart {
      .add-to-cart-btn {
        display: block;
        background-color: var(--clr--primary-orange);
        color: var(--clr--white);
        width: 100%;
        line-height: 50px;
        height: 50px;
        border-radius: .75rem;
        font-weight: var(--fw-bold);
        font-size: var(--fs-600);
        transition: .25s linear;

        &:hover {
          opacity: .5;
        }

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 48em) {
  main {

    .wrapper {
      .cart-items {
        right: -20px;
        left: unset;
        width: 430px;

        .cart-container {
          box-shadow: 0px 4px 15px var(--clr--black);
        }
      }
    }
    .main-content {
      margin-block: 5rem;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      
      .product-images {
        .slider {
          border-radius: 1rem;
          overflow: hidden;

          img.main-image {
            height: unset;
            width: unset;
          }

          .next,
          .previous {
            display: none;
          }
        }
  
        .image-thumbnail {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1.5rem;

          img {
            border-radius: 1rem;
            border: 3px solid transparent;
            cursor: pointer;
            transition: border 0.15s linear;

            &.active {
              opacity: 0.5;
              border-color: var(--clr--primary-orange);
            }
          }
        }
      }

      .product-details {
        padding: 4rem 1.25rem;

        .price-section {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.25rem;
        }
      }
    }

    .quantity {
      grid-template-columns: 1fr 1fr;
    }
  }
}