:root {
    //Font
    --ff-sans: 'Kumbh Sans', sans-serif;
    
    //Typography
    --fw-light: 400;
    --fw-bold: 700;

    --fs-100: 0.625rem; //10px
    --fs-200: 0.688rem; //11px
    --fs-300: 0.75rem;  //12px
    --fs-400: 0.875rem; //14px
    --fs-500: 1rem;     //16px
    --fs-600: 1.125rem; //18px
    --fs-700: 1.25rem;  //20px
    --fs-800: 2rem;     //32px
    --fs-900: 3rem;     //48px

    //Colors
    --clr--primary-orange: hsl(26, 100%, 55%);
    --clr--primary-pale-orange: hsl(25, 100%, 94%);

    --clr--neutral-blue: hsl(220, 13%, 13%);
    --clr--neutral-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr--neutral-grayish-blue: hsl(220, 14%, 75%);
    --clr--neutral-light-grayish-blue: hsl(223, 64%, 98%);
    
    --clr--white: hsl(0, 0%, 100%);
    --clr--black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-500);
    color:var(--clr--neutral-dark-grayish-blue)    
}

main {
  .wrapper {
    @media screen and (min-width: 960px) {
      margin-inline: auto;
      width: 1100px;
    }
  }

  .wrapper-narrow {
    @media screen and (min-width: 960px) {
      margin-inline: auto;
      width: 960px;
    }
  }

  header {
    width: 100%;
    background: var(--clr--white);
    border-bottom: 1px solid var(--clr--neutral-grayish-blue);
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    padding-inline: 1rem;
    
    @media screen and (min-width: 960px) {
      padding-inline: 0;
    }

    .logo-nav {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5rem;

      @media screen and (min-width: 960px) {
        justify-content: space-between;
      }
      
      .menu-icon {
        @media screen and (min-width: 960px) {
          display: none;
        }
      }

      nav {
        position: fixed;
        width: 70vw;
        height: 100vh;
        background: var(--clr--white);
        top: 0;
        left: -70vw;
        transition: left 0.25s linear;
        padding: 2rem;

        &.show {
          left: 0;
        }

        .close-menu {
          margin-block-end: 4rem;
        }

        ul {
          display: grid;
          gap: 1.5rem;

          li {
            a {
              text-decoration: none;
              font-weight: var(--fw-bold);
              color: var(--clr--black);
            }
          }
        }

        @media screen and (min-width: 960px) {
          position: static;
          width: unset;
          height: unset;
          background: unset;
          padding: unset;
          
          .close-menu {
            display: none;
          }

          ul {
            display: flex;
            gap: 2.5rem;
  
            li {
              a {
                color: var(--clr--neutral-dark-grayish-blue);
                display: inline-block;
                padding-block: 2rem;
                transition: color 0.25s linear;
                
                &.active,
                &:hover {
                  border-bottom: .25rem solid var(--clr--primary-orange);
                  color: var(--clr--black);
                }
              }
            }
          }
        }
      }
    }
    
    .cart-avatar {
      width:40%;
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      align-items: center;

      .cart {
        position: relative;
        
        span {
          padding: 0 6px;
          color: var(--clr--primary-pale-orange);
          background: var(--clr--primary-orange);
          font-size: var(--fs-100);
          border-radius: 40%;
          position: absolute;
          top: -5px;
          right: -10px;
        }
      }

      .avatar {
        img {
          width: 2.5rem;
          border: 3px solid transparent;
          border-radius: 50%;
          transition: border .25s linear;

          &:hover {
            border-color: var(--clr--primary-orange);  
          }

          @media screen and (min-width: 960px) {
            width: 3rem;
          }
        }
      }
    }
  }
}